extends layout

block content
 h2.page-header User Personal Details

 h3(style='font-weight:300;') Username : #{user.username}
 h3(style='font-weight:300;') Name : #{user.username}
 h3(style='font-weight:300;') Email : #{user.email}
 h3(style='font-weight:300;') Location : #{user.location}
 h3(style='font-weight:300;') Mobile : #{user.mobile}
